{% extends 'base.html' %}
{% block contents %}
<div class="row row-fluid vc_custom_pt60" style="opacity: 1;">

  <div class="col-sm-8">
    <!-- Deals -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          {% for header in table_header %}
          <th scope="col">{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for order in user.order %}
        <tr>
          <th scope="row"></th>
          <td>{{order.name}}</td>
          <td>{{order.belong_to_category.name}}</td>
          <td>{{ order.budget }}</td>
          <td>{{order.belong_to_status.name}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-sm-4" style="padding: 0 0 0 30px;">
    <h2 class="oi_sub_legend">Thông tin tài khoản</h2>
    <div class="oi_port_sep"></div>
    <p>&nbsp;</p>
    <p> Tên: {{ user.name }}</p>
    <p> Email: {{ user.email }}</p>
    <p> Điện thoại: {{ user.phone_number }}</p>
    <p> Địa chỉ: {{ user.address }}</p>
    <!-- form -->

  </div>
</div>
{% endblock %}