{% extends 'base.html' %}
{% block contents %}
<div class="container">
    <div class="row row-fluid full_row vc_custom_pt60">
        <div class="col-sm-6 oi_block">
                <h2 class="oi_legend">COMPANY</h2>
                <h2 class="oi_legend">HISTORY <span class="colored">&amp;</span> MISSION</h2>
                <div class="oi_port_sep mb30"></div>
                <p><strong>For 10 years we have become professionals</strong></p>
        </div> 
        <div class="col-sm-6 oi_block">
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable.</p>
            <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies ligula sed magna dictum porta. Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit. Donec rutrum congue leo eget malesuada.</p>
        </div>
    </div>
</div>
{% endblock %}