{% extends 'base.html' %}
{% block contents %}
    <div class="row row-fluid full_row vc_custom_pt60">
        <div class="col-sm-6 oi_block">
                <h2 class="oi_legend">Công ty</h2>
                <h2 class="oi_legend">Lịch sử <span class="colored">&amp;</span> Trách nhiệm</h2>
                <div class="oi_port_sep mb30"></div>
                <p><strong>Thực hiện ước mơ cùng bạn</strong></p>
        </div>
        <div class="col-sm-6 oi_block">
            <p>Ai trong chúng ta cũng từng trẻ và cũng từng có những ước mơ xây dựng được những điều lớn lao. Thế rồi những ước mơ và hoài bão ấy nhanh chóng bị dập tắt bởi bàn tay của những "Người khổng lồ", những người sinh ra đã ở vạch đích với đồng vốn thật lớn và nền tảng vững chắc từ nhiều thế hệ</p>
            <p>The Circle được thành lập với 1 mong muốn và nhiệm vụ sẽ giúp được các bạn trẻ khởi nghiệp với số tiền vốn nhỏ nhất có thể , bằng cách liên kết những người có cùng nhu cầu lại với nhau từ đó giảm giá thành trong tất cả các mặt hàng và dịch vụ. Cùng với việc tư vấn về cấu trúc doanh nghiệp nhỏ chúng tôi hy vọng sẽ cùng các bạn vượt qua những thử thách và cùng nhau trở thành những "Người khổng lồ "</p>
        </div>
    </div>
{% endblock %}
