{% macro get_img_url(static,img_url) %}
<img class="img-responsive" src="{{static}}img/{{img_url}}">
{% endmacro %}
{% extends 'base.html'%}
{% block contents %}
<div class="clearfix"></div>
<!-- content -->
    <h2 class="oi_legend">Chào bạn đến với Thecircle!</h2>
    <h3 class="oi_sub_legend">Nơi mọi thứ nhỏ bé đều trở nên to lớn </h3>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Kho hàng</th>
      <th scope="col">Cấp độ giá</th>
      <th scope="col">Tiền lấy sỉ tối thiểu</th>
      <th scope="col">Tỷ lệ lợi nhuận</th>
    </tr>
  </thead>
  <tbody>
  {% for post in posts %}
    <tr>
      <th scope="row">{{ post.id }}</th>
      <td><a href="/posts/{{ post.id }}"> {{ post.title }}</a></td>
      <td>{{ post.level }}</td>
      <td>{{ post.min_money }}</td>
      <td>{{ post.interest }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    </div>
<!-- content -->


{% endblock %}
