{% extends 'admin_base.html'%}
{% block contents %}
<form method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.name(class="form-control",placeholder="Tên" )}}
    </div>
    <div class="form-group">
        {{ form.phone_number(class="form-control",placeholder="Số điện thoại" )}}
    </div>
    <div class="form-group">
        {{ form.address(class="form-control", placeholder="Địa chỉ" )}}
    </div>
    <div class="form-group">
        {{ form.email(class="form-control", placeholder="Email" )}}
    </div>
    <div class="form-group">
        {{ form.password(class="form-control", placeholder="Mật khẩu" )}}
    </div>
    <button type="submit">Xác nhận</button>
    <a href="/admin">Cancel</a>
</form>
{% endblock %}