{% extends 'admin_base.html' %}
{% block contents %}
<div class="container">
    <div class="row row-fluid" style="opacity: 1;">

        <div class="col-sm-8">
            <!-- Deals -->
            <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            {% for header in table_header %}
            <th scope="col">{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"></th>
            <td>{{deal.belong_to_post.title}}</td>
            <td>{{deal.invest_money}}</td>
            <td>{{deal.status}}</td>
        </tr>
        </tbody>
        </table>
        </div>
        <div class="col-sm-4">
            <h2 class="oi_sub_legend">Thông tin đơn hàng</h2>
            <div class="oi_port_sep"></div>
            <p>&nbsp;</p>
            <p> Tên: {{ deal.belong_to_post.title }}</p>
            <p> Cập nhật tình trạng đơn hàng tại đây</p>
            <form method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label>Cập nhật tình trạng đơn hàng</label>
                    {{ form.status(class="form-control") }}
                </div>
                <button type="submit" class="btn btn-success">Cập nhật</button>
            </form>
            <!-- form -->

        </div>
    </div>
</div>
{% endblock %}